html {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    font-smoothing: antialiased;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Karla', Lucida Grande, Helvetica, sans-serif;

    margin-top: auto;
    margin-bottom: auto;
}

#header {
    width: 80vw;
    margin-top: 5%;
    max-width: 30em;
}

#subtitle {
    color: black;
    font-size: 1.6em;
    text-decoration: underline
}

#links {
    line-height: 25px;
    margin-top: 2em;
    color: black;
    font-size: 23px;
}

a:visited {
    color: #444;
}

p {
    color: black;
    font-size: 1em;
    margin-top: 0%;
    width: 80vw;
    max-width: 28em;
}
